atomicwrites==1.4.0
attrs==21.4.0
click==8.0.4
colorama==0.4.4
git+https://github.com/ryank4/diagrams.git#egg=diagrams
diagrams==0.21.1
Flask==2.0.3
Flask-Cors==3.0.10
graphviz==0.19.1
iniconfig==1.1.1
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
packaging==21.3
pluggy==1.0.0
py==1.11.0
pymongo==4.0.2
pyparsing==3.0.8
pytest==7.1.1
git+https://github.com/ryank4/RestrictedPython.git#egg=RestrictedPython
six==1.16.0
tomli==2.0.1
Werkzeug==2.0.3
